RewriteEngine On

# Nếu file hoặc thư mục tồn tại thì truy cập trực tiếp
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Mọi request còn lại chuyển về index.php
RewriteRule ^ index.php [QSA,L]